[submodule "chatbot-using-seq2seq"]
	path = chatbot-using-seq2seq
	url = git@github.com:zhpinkman/chatbot-using-seq2seq.git
[submodule "word2vec-model"]
	path = word2vec-model
	url = git@github.com:zhpinkman/word2vec-model.git
[submodule "NER-model"]
	path = NER-model
	url = git@github.com:zhpinkman/NER-model.git
[submodule "sentiment-analysis-digikala"]
	path = sentiment-analysis-digikala
	url = git@github.com:zhpinkman/sentiment-analysis-digikala.git
